@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Public+Sans:wght@300..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Inter", sans-serif;
  --font-public: "Public Sans", sans-serif;

  --color-primary: #2a19e6;
  --color-background-light: #f6f6f8;
  --color-background-dark: #121121;
  --color-surface-dark: #161521;
  --color-border-dark: #2a2938;
}

@layer base {
  body {
    @apply font-sans antialiased;
  }
}

.glass-card {
  background: rgba(42, 25, 230, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.gradient-mesh {
  background-color: #121121;
  background-image: 
    radial-gradient(at 0% 0%, rgba(42, 25, 230, 0.15) 0px, transparent 50%),
    radial-gradient(at 100% 100%, rgba(42, 25, 230, 0.1) 0px, transparent 50%);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #3e3c53;
  border-radius: 10px;
}

